<div class="container">
    <h1>Departments</h1>
    <div class="row">
        <div class="col-md-12">
            <DataGrid bind:rows="list" bind:columns="columndata" edit={false} ></DataGrid>
            <button type="button" class="btn btn-primary" on:click='addDepartment(event)'>Add New Department</button>
        </div>
    </div>
    <div>
        {#if showModal}
            <Modal on:close='close()' on:save='saveDepartment(event, selectedItem)' title={selectedItem.name}>
                <div class=form-group>
                    <label for="txtName">Department</label>
                </div>
                <div class=form-group>
                    <FormGrid columns={fielddata} bind:item="selectedItem" ref:form ></FormGrid> 
                </div>                     
            </Modal>
        {/if}
    </div>
</div>

<script>
    import roadtrip from 'roadtrip';
    import { FormGrid, DataGrid } from 'svelte-formgrid';
    import Requests from '../../utils/request';
    import Modal from '../app/modal.html';
    import AppService from '../../services/appService';

    async function getData() {
        return Requests.get('/api/department');
    }

    const fielddata = [
    {
        label: 'ID', 
        field: 'id',
        component: 'text',
        readOnly: true,
        row: 0,
        col: 'md-6'
    }, {
        label: 'Name',
        field: 'name',
        component: 'text',
        required: true,
        row: 1,
        col: 'md-6'
    }, {
        label: 'Group Name',
        field: 'groupName',
        component: 'text',
        row: 2,
        col: 'md-6'
    }];

    const columndata = fielddata.map(x => Object.assign({}, x));
    const actionColumn ={
        label: 'Edit', 
        field: 'field',
        component: 'action',
        'class': 'secondary',
    }
    columndata.push(actionColumn);
    
    export default {
        data() {
            return {
                list: [],
                showModal: false,
                addingDepartment: false,
                newDepartmentName: '',
                newDepartmentImage: '',
                currentPath: '',
                selectedItem: null,                
                fielddata,
                columndata,
            };
        },
        components: {
            Modal,
            FormGrid, 
            DataGrid
        },
        oncreate () {
            // columndata[columndata.length - 1].action = (row) => this.editDepartment(row);
            actionColumn.action = (row) => this.editDepartment(row);
            this.getList();            
        },
        methods: {
            getList() {
                getData().then(data => {
                    this.set({ list: data  });
                });
            },
            addDepartment(evt) {
                evt && evt.preventDefault();
                this.set({ showModal: true, selectedItem: {} });
            },
            editDepartment(item) {
                this.set({ showModal: true, selectedItem: item });
            },
            saveDepartment(evt, item) {
                const fnSave = (data) => {
                    this.close();
                    this.getList();
                }
                AppService.save(evt, 'department', item, this.refs.form.refs.form, fnSave);
            },
            close() {
                this.set({ showModal: false, selectedItem: null });
            }
        }
    }    
</script>