<div class="container-fluid">
    <div class="row">
        <MenuComponent ref:menu />
    </div>    
</div>
<div class="container">
    <div class="row" id="app"></div>
</div>

<script>
    import MenuComponent from '../navmenu/navmenu.html';
    import Routes from '../../routes';

    let router;

    export default {
        components: {
            MenuComponent
        },
        oncreate () {
            const target = document.querySelector('#app');
            router = new Routes(target);
            // console.log('router', router);
        },
        ondestroy () {
            // router.destroy()
        },
    };
</script>
