<div class="container">
    <h1>{title}</h1>
    <div class="row">
        <div class="col-md-12">
            <DataGrid bind:rows="list" bind:columns="columndata" edit={false} ></DataGrid>
            <button type="button" class="btn btn-primary" on:click='add(event)'>Add New</button>
        </div>
    </div>
    <div>
        {#if showModal}
            <Modal on:close='close()' on:save='save(selectedItem, event)' title={selectedItem.name}>
                <div class=form-group>
                    <FormGrid columns={fielddata} bind:item="selectedItem" ref:form ></FormGrid> 
                </div>                     
            </Modal>
        {/if}
    </div>
</div>

<script>
    import { FormGrid, DataGrid } from 'svelte-formgrid';
    import Modal from '../app/modal.html';
    import appPage from '../../services/appPage';

    const app = Object.assign({}, appPage);
    const { getList, add, edit, save, close } = app;

    export default {
        components: {
            Modal,
            FormGrid, 
            DataGrid
        },
        oncreate () {
            const { partial } = this.options;
            const p = app.oncreate(this, partial);
            partial.oncreate(p);          
        },
        methods: {
            getList,
            add,
            edit,
            save,
            close
        }
    }    
</script>