<div class="container">
    <h1>Employee</h1>
    <div class="row">
        <div>
            <DataGrid bind:rows="list" bind:columns="columndata" edit={{false}}></DataGrid>
            <button type="button" class="btn btn-primary" on:click='addEmployee(event)'>Add New Employee</button>
        </div>
    </div>
    <div>
        {{#if showModal}}
            <Modal on:close='close()' on:save='saveEmployee(selectedItem, event)' title={{selectedItem.name}}>
                <div class=form-group>
                    <label>Employee</label>
                </div>
                <div class=form-group>
                    <FormGrid columns={{fielddata}} bind:item="selectedItem" ref:form ></FormGrid> 
                </div>                     
            </Modal>
        {{/if}}
    </div>
</div>

<script>
    import { FormGrid, DataGrid } from 'svelte-formgrid';
    import Requests from '../../utils/request';
    import Modal from '../app/modal.html';
    import appPage from '../../services/appPage';
    import { initialData, employee } from './employee';
    
    const app = Object.assign({}, appPage);
    export default {
        data() {
            return Object.assign({}, initialData);
        },
        components: {
            Modal,
            FormGrid, 
            DataGrid
        },
        oncreate () {           
            app.oncreate(this, employee);
            employee.oncreate(this);         
        },
        methods: {
            getList: employee.getList,
            addEmployee: app.add,
            editEmployee: app.edit,
            saveEmployee: app.save,
            close: app.close
        }
    }
</script>