<div class="container">
    <h1>Employee</h1>
    <div class="row">
        <div>
            <DataGrid bind:rows="list" bind:columns="columndata" edit={{false}}></DataGrid>
            <button type="button" class="btn btn-primary" on:click='addEmployee(event)'>Add New Employee</button>
        </div>
    </div>
    <div>
        {{#if showModal}}
            <Modal on:close='close()' on:save='saveEmployee(selectedItem, event)' title={{selectedItem.name}}>
                <div class=form-group>
                    <label for="txtName">Employee</label>
                </div>
                <div class=form-group>
                    <FormGrid columns={{fielddata}} bind:item="selectedItem" ref:form ></FormGrid> 
                </div>                     
            </Modal>
        {{/if}}
    </div>
</div>

<script>
    import { FormGrid, DataGrid } from 'svelte-formgrid';
    import Requests from '../../utils/request';
    import Modal from '../app/modal.html';
    import AppService from '../../services/appService';
    import appPage from '../../services/appPage';
    import { initialData, columndata, actionColumn, employee } from './employee';

    const departmentColumn = columndata.find(x => x.field == 'departmentId');
    departmentColumn.component = '';
    
    const app = Object.assign({}, appPage);
    export default {
        data() {
            return Object.assign({}, initialData);
        },
        components: {
            Modal,
            FormGrid, 
            DataGrid
        },
        oncreate () {           
            app.oncreate(this, employee);
            actionColumn.action = (row) => this.editEmployee(row);
            departmentColumn.field = (data) => {
                const { departmentList } = this.get();
                const found = departmentList.find(x => x.id == data.departmentId);
                return found ? found.name : '';
            }
            this.getList();           
        },
        methods: {
            getList: employee.getList,
            addEmployee: app.add,
            editEmployee: app.edit,
            saveEmployee: app.save,
            close: app.close
        }
    }
</script>